.doodle {
  touch-action: none;
}

.brush-icon {
  width: 30px;
  height: 30px;
}

.draw-area {
  width: 90%;
  height: 70%;
  touch-action: none;
}

.menu {
  max-width: 600px;
  width: 80%;
  flex-flow: row wrap;
}

button {
  border-radius: 8px;
  border: 2px solid #ececec;
  cursor: pointer;
}

button:hover {
  background-color: #f4f4f3;
}

button:active {
  background-color: #ececec;
}
