.draw-area {
  width: 90%;
  height: 70%;
}

.menu {
  width: 800px;
  height: 50px;
}

button {
  border-radius: 8px;
  border: 2px solid #ececec;
  cursor: pointer;
}

button:hover {
  background-color: #f4f4f3;
}

button:active {
  background-color: #ececec;
}
